.header_new-bot {
	display: none;
	padding: .8em 1.5em 1em;
	color: $white;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: $main-violet;
	@include min-screen($tablet) {
		& {
				display: flex;
		}
	}
	@include min-screen($tablet) {
		.is-scroll & {
			visibility: hidden;
			height: 0;
			padding: 0;
		}
	}
	&-support {
		transition: all .3s ease;
		color: $white;
		font-size: .9em;
		display: inline-block;
		cursor: pointer;
		padding: 1.1em 1em;
		border-radius: 1.8em;
		margin-left: 2.4em;
		background-color: $pink;
		white-space: nowrap;
		&:hover {
			background-color: $white;
			color: $pink;;
		}
	}
	&-logo {
		max-width: 7em;
		padding-top: .4em;
		margin-right: 1.8em;
	}
	&-language {
		float: left;
		list-style: none;
		font-size: .8em;
		a {
			color: inherit;
		}
		li {
			display: inline-block;
			color: rgba($white, 0.6);
			&.active,
			&:hover {
				color: $white;
			}
		}
		li + li {
			margin-left: 0.7em;
		}
	}
	.header_new-social-item + .header_new-social-item {
		margin-left: 0.9em;
	}
	.header_new-social {
		padding-top: 0.4em;
		list-style: none;
		color: $white;
		&-item {
			display: inline-block;
			vertical-align: middle;
		}
		&-link {
			display: inline-block;
			color: inherit;
			min-width: 1em;
			max-height: 1.2em;
			overflow: hidden;
			&:hover {
				color: $pink;
			}
			svg {
				max-height: 1.1em;
			}
			&.is_facebook svg {
				width: 0.9em;
			}
			&.is_twitter {
				margin-left: 0.2em;
				svg {
					width: 1.1em;
				}
			}
			&.is_telegram svg {
				width: 1.2em;
			}
			&.is_youtube svg {
				width: 1.1em;
			}
		}
	}
	&-middle {
		flex: 1;
		max-width: calc(100% - 21em);
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			& {
				max-width: calc(100vw - 21em);
			}
		}
		&-top {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 0.8em;
		}
		&-bot {
			position: relative;
		}
	}
	&-menu {
		display: flex;
		white-space: nowrap;
		// overflow-x: hidden;
		&-item {
			color: rgba($white, .8);
			display: inline-block;
			position: relative;
			line-height: 1.3em;
			&.active,
			&:hover {
				color: $white;
			}
			& + & {
				padding-left: 1.2em;
			}
		}
		&-link {
			color: inherit;
			cursor: pointer;
			transition: inherit;
			display: inline-block;
		}
		img,
		&-image {
			max-width: 1.2em;
			vertical-align: middle;
			margin-right: .25em;
			max-height: 1.5em;
		}
		&-dropdown {
			display: none;
			position: absolute;
			min-width: 12.8em;
			z-index: 7;
			top: 50%;
			left: 100%;
			margin-top: 1em;
			margin-left: -3em;
			padding: 0.2em 1.6em .2em;
			background-color: $main-violet;
			border-radius: 0 0 .5em .5em;
		}
		&-dropdown &-item {
			padding: 0;
			white-space: nowrap;
			display: block;
			line-height: 1.4em;
			margin-top: 0.9em;
		}
		&-dropdown &-dropdown_button {
			display: none !important;
		}
		&-dropdown &-item + &-item {
		}
		&-dropdown &-item img,
		&-dropdown &-item &-image {
			display: none;
		}
		&-dropdown_button {
			box-sizing: content-box;
			display: none;
			width: 1em;
			min-width: 1.5em;
			height: 1.3em;
			position: relative;
			text-indent: 9999px;
			transition: inherit;
			cursor: pointer;
			opacity: .6;
			&:hover,
			&.active {
				opacity: 1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				color: $white;
				background-color: currentColor;
				width: .25em;
				height: .25em;
				margin-top: -.125em;
				margin-left: -.125em;
				box-shadow: -.45em 0, .45em 0;
			}
		}
	}

}