<div class="header_new-bot">
	<a href="#" class="header_new-bot-logo">
		<img src="./img/logo.svg" alt="mind.ua">
	</a>
	<div class="header_new-bot-middle">
		<div class="header_new-bot-middle-top">
			<ul class="header_new-bot-language">
				<li>
					укр
				</li>
				<li>
					<a href="#">рус</a>
				</li>
				<li>
					<a href="#">eng</a>
				</li>
			</ul>

			<ul class="header_new-social">
				<li class="header_new-social-item">
					<a href="" class="header_new-social-link is_facebook" title="Facebook">
						{% include "img/facebook-brands.svg" %}
					</a>
				</li>
				<li class="header_new-social-item">
					<a href="#" class="header_new-social-link is_twitter" title="Twitter">
						{% include "img/twitter-brands.svg" %}
					</a>
				</li>
				<li class="header_new-social-item">
					<a href="#" class="header_new-social-link is_telegram" title="Telegram">
						{% include "img/telegram-plane-brands.svg" %}
					</a>
				</li>
				<li class="header_new-social-item">
					<a href="#" class="header_new-social-link is_youtube" title="YouTube">
						{% include "img/youtube-brands.svg" %}
					</a>
				</li>
			</ul>
		</div>
		<div class="header_new-bot-middle-bot">
			<ul class="header_new-bot-menu is_no_js_dot_menu">
				<li class="header_new-bot-menu-item active">
					<a href="#" class="header_new-bot-menu-link">Бизнес</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">
						<img class="header_new-bot-menu-image" src="./img/logoenergy.svg" alt="Энергетика">
						Энергетика
					</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">
						Страхование
					</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Банки</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Образование</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Недвижимость</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Финансы</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Технологии</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Бизнес</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Энергетика</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Страхование</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Банки</a>
				</li>
				<li class="header_new-bot-menu-item">
					<a href="#" class="header_new-bot-menu-link">Образование</a>
				</li>
				<li class="header_new-bot-menu-item is_dropdawn_wrap">
					<div class="header_new-bot-menu-dropdown_button"></div>
					<ul class="header_new-bot-menu-dropdown">
						
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<span class="header_new-bot-support is_disabled_support">Поддержать проект</span>
	
</div>