$header-height: 144px;
$header-height-mobile: 96px;

.header_new {
	z-index: 8;
	background-color: $main-violet;
	color: $white;
	font-size: 16px;
	position: relative;
	background-color: $main-violet;
	&-i {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		top: $header-height-mobile;
		transform: translateY(-$header-height-mobile);
		transition: transform .3s ease-in-out;
		@include min-screen($tablet) {
			& {
				top: $header-height;
				transform: translateY(-$header-height);
			}
		}
	}
	&.is-scroll &-i {
			top: 0;
			position: fixed;
		}
	&.is-fixed &-i {
		transform: translateY(0);
	}
	&-content {
		max-width: $header-width;
		margin: 0 auto;
	}
	a {
		color: $white;
	}
}