$header-height: 174px;
$header-height-mobile: 96px;
.is_no_js_dot_menu {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header_new {
	max-width: 100vw;
	color: $white;
	font-size: 16px;
	&-i {
		z-index: 8;
		position: relative;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		top: $header-height-mobile;
		transform: translateY(-$header-height-mobile);
		@include min-screen($tablet) {
			& {
				top: $header-height;
				transform: translateY(-$header-height);
			}
		}
	}
	&.is-scroll &-i {
		top: 0;
		transition: transform .3s ease-in-out;
		position: fixed;
	}
	&.is-fixed &-i {
		transform: translateY(0);
	}
	.is-menu-show &-i {
		top: 0;
		transform: translateY(0);
		position: fixed;
	}
	&-social {
		list-style: none;
		color: $white;
		&-item {
			display: inline-block;
			vertical-align: middle;
			& + & {
				margin-left: 1.5em;
			}
		}
		&-link {
			display: inline-block;
			color: inherit;
			min-width: 1em;
			&:hover {
				color: $pink;
			}
			// svg {
			// 	min-width: 1em;
			// }
			&.is_facebook svg {
				width: 1.2em;
			}
			&.is_twitter {
				margin-left: 0.3em;
				svg {
					width: 1.4em;
				}
			}
			&.is_telegram svg {
				width: 1.5em;
			}
			&.is_youtube svg {
				width: 1.6em;
			}
		}
	}

	&-content {
		max-width: $header-width;
		margin: 0 auto;
	}
}