$header-height: 174px;
$header-height-mobile: 96px;

.header_new {
	z-index: 8;
	background-color: $main-violet;
	color: $white;
	font-size: 16px;
	position: relative;
	background-color: $main-violet;
	&-i {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		top: $header-height-mobile;
		transform: translateY(-$header-height-mobile);
		@include min-screen($tablet) {
			& {
				top: $header-height;
				transform: translateY(-$header-height);
			}
		}
	}
	&.is-scroll &-i {
		top: 0;
		transition: transform .3s ease-in-out;
		position: fixed;
	}
	&.is-fixed &-i {
		transform: translateY(0);
	}
	.is-menu-show &-i {
		top: 0;
		transform: translateY(0);
		position: fixed;
	}
	&-social {
		list-style: none;
		color: $white;
		&-item {
			display: inline-block;
			vertical-align: middle;
			& + & {
				margin-left: 1.2em;
			}
		}
		&-link {
			display: inline-block;
			color: inherit;
			min-width: 1em;
			&:hover {
				color: $pink;
			}
		}
	}

	&-content {
		max-width: $header-width;
		margin: 0 auto;
	}
}