.header_new-topline {
	background-color: $dark-violet;
	padding: .875em;
	font-size: .875em;
	overflow: hidden;
	line-height: 1.43;
	.is-fixed & {
		display: none;
	}
	@include min-screen($tablet) {
		& {
			display: none;
		}
	}
	&-language {
		float: left;
		list-style: none;
		color: rgba($white, 0.6);
		li {
			display: inline-block;
		}
		li + li {
			margin-left: 14px;
		}
	}
	&-support {
		float: right;
		font-weight: 500;
		color: $white;
	}
}
.header_new {
	&-rss_button {
		max-width: 20px;
		fill: $white;
		img {
			max-width: inherit;
		}
	}
}

.header_new-top {
	padding: 1em;
	background-color: $main-violet;
	&-content {
		max-width: $header-width;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	@include min-screen($tablet) {
		& {
			background-color: $dark-violet;
			padding: 1em 1.5em;
		}
	}
}
