.header_new-topline {
	background-color: $dark-violet;
	padding: 0.58em 1em;
	font-size: .875em;
	overflow: hidden;
	line-height: 1.43;
	transition: all .3s ease;
	.is-scroll & {
		overflow: hidden;
		height: 0;
		padding: 0;
	}
	.is-menu-show & {
		padding: 0.58em 1em;
		height: auto;
		visibility: visible;
	}
	@include min-screen($tablet) {
		& {
			display: none;
		}
	}
	&-language {
		float: left;
		list-style: none;
		a {
			color: inherit;
		}
		li {
			display: inline-block;
			color: rgba($white, 0.6);
			&.active {
				color: $white;
			}
		}
		li + li {
			margin-left: .6em;
		}
	}
	&-support {
		float: right;
		font-weight: 500;
		color: $white;
	}
}
.header_new {
	&-rss_button,
	&-login_button {
		color: $white;
		fill: $white;
		transition: all .3s ease;
		box-sizing: border-box;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: $pink;
		}
	}

	&-rss_button {
		display: none;
		// width: 1em;
		max-width: 1.5em;
		max-height: 1.5em;
		overflow: hidden;
		img,
		svg {
			width: inherit;
		}
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}
	&-login_button {
		font-size: 1em;
		margin-left: 1em;
		svg {
			margin-top: .1em;
			max-width: 1.6em;
		}
	}
}
.header_new-search {
	display: none;
	align-items: center;
	justify-content: flex-end;
	float: right;
	min-height: 1.25em;
	padding: .4em 0.45em .6em 1em;
	border-radius: 1em;
	background-color: $main-violet;
	transition: all .3s ease;
	width: 8.1em;
	&.is_focused {
		background-color: $white;
		width: 100%;
	}
	&-input {
		background-color: transparent;
		border: none;
		outline: none;
		height: 1.25em;
		font-size: .8em;
		color: rgba($nobel, 0.6);
		margin-right: .5em;
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: calc(100% - 1.625em);
	}
	@include min-screen($tablet) {
		display: flex;
	}
	&-button {
		min-width: 1.125em;
		// width: 1.125em;
		height: 1.25em;
		font-size: 1em;
		padding: 0;
		color: $white;
		cursor: pointer;
		background: none;
		transition: inherit;
		border: none;
		display: inline-block;
		svg, 
		img {
			max-width: 1.5em;
		}
		.is_focused & {
			color: rgba($nobel, 0.6);
		}
		&.is_open_modal {
			padding-top: 0.3em;
			@include min-screen($tablet) {
				display: none;
			}
		}
	}
	&-wrap {
		margin-left: 1em;
		margin-left: auto;
		@include min-screen($tablet) {
			min-width: 250px;
		}
	}
}

.header_new-menu_button {
	font-size: 1em;
	margin-right: 1.9em;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	background: none;
	position: relative;
	vertical-align: middle;
	transition: all .3s ease;
	color: currentColor;
	svg,
	img {
		vertical-align: middle;
		max-width: 1.5em;
	}
	&-grid {
		display: inline;
		.is-menu-show & {
			display: none;
		}
	}
	&-close {
		display: none;
		.is-menu-show & {
			display: inline;
			@include min-screen($tablet) {
				& {
					display: none;
				}
			}
		}
	}
	&-arrow {
		display: none;
		@include min-screen($tablet) {
			.is-menu-show & {
				display: inline;
			}
		}
		
	}
	&:hover {
		color: $pink;
	}
}


.header_new-top {
	padding: 0.5em 0.7em;
	background-color: $main-violet;
	&-content {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&-left,
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-left {
			max-width: 5.2em;
		}
		&-right {
			max-width: 18.5em;
		}
		&-middle {
			display: none;
			@include min-screen($tablet) {
				margin-right: auto;
				display: flex;
				flex: 1;
				flex-direction: row;
				max-width: calc(100vw - 24em);
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					& {
						max-width: calc(100vw - 24em);
					}
				}
			}
		}
	}
	@include min-screen($tablet) {
		& {
			background-color: $dark-violet;
			padding: 0.4em 1.5em;
		}
	}

	&-logo {
		display: inline-block;
		@include min-screen($tablet) {
			& {
				display: none;
			}
		}
		img {
			max-height: 2.5em;
		}
	}
}

.header_new-top {
	&-main_menu,
	&-sub_menu {
		display: none;
		position: relative;
		min-height: 1.9em;
		line-height: 1.9em;
		border-left: 1px solid rgba($white, .15);
		padding-left: 1.5em;
		transition: all .3s ease;

		@include min-screen($tablet) {
			& {
				display: block;
			}
		}

		&-item {
			color: rgba($white, .6);
			display: inline-block;
			&.active,
			&:hover {
				color: $white;
			}
			& + & {
				padding-left: .8em;
			}
		}
		&-list {
			white-space: nowrap;
		}
		&-link {
			font-size: .8em;

		}
	}
	&-sub_menu {
		margin-left: 1.5em;
		padding-right: 1em;
		&-dropdown {
			display: none;
			position: absolute;
			white-space: normal;
			padding: 1.3em 1.5em;
			z-index: 7;
			top: 90%;
			left: 100%;
			min-width: 13em;
			max-width: 14em;
			margin-left: -2.2em;
			border-radius: .25em;
			background-color: $white;
			box-shadow: 0 0 49px 0 rgba($black, 0.15);
		}
		&-item {
			position: relative;
			&-title {
				cursor: pointer;
				font-size: .8em;
				position: relative;
				padding-right: 1.2em;
				&.is_open {
					color: $white;
				}
				&::before {
					@include arr(8, 6, $white, b)
					content: '';
					position: absolute;
					right: .125em;
					top: 50%;
					margin-top: -3px;
				}
			}
		}
		&-link {
			display: block;
			line-height: 1.6;
			color: $black;
			opacity: .6;
			& + & {
				margin-top: 1.2em;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	&-main_menu {
		padding-left: 1.8em;
		margin-left: 1.6em;
		flex: 1;
		max-width: calc(100% - 14em);
		&.all-items-visible {
			flex: none;
			width: auto;
		}
		&-list {
			display: flex;
		}
		&-item {
			position: relative;
		}
		&-item + &-item {
			padding-left: 1.1em;
		}
		&-dropdown {
			display: none;
			z-index: 7;
			position: absolute;
			top: 50%;
			left: 100%;
			min-width: 12.9em;
			margin-top: 1em;
			margin-left: -3em;
			padding: 0.7em 1.5em 0.4em;
			background-color: $dark-violet;
			border-radius: 0 0 .5em .5em;
		}
		&-dropdown &-item {
			padding: 0;
			// font-size: .8em;
			white-space: nowrap;
			display: block;
			line-height: 1.4em;
			margin-bottom: 0.9em;
		}
		&-dropdown_button {
			float: right;
			display: none;
			width: 1.5em;
			min-width: 1.5em;
			height: 2em;
			display: inline-block;
			position: relative;
			overflow: hidden;
			text-indent: 9999px;
			transition: inherit;
			cursor: pointer;
			opacity: .6;
			&:hover,
			&.active {
				opacity: 1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				color: $white;
				background-color: currentColor;
				width: .25em;
				height: .25em;
				box-shadow: -.5em 0, .5em 0;
			}
		}
		&-link {
			color: inherit;
			cursor: pointer;
			transition: inherit;
			display: inline-block;
			
		}
	}
}