.header_new-topline {
	background-color: $dark-violet;
	padding: .875em;
	font-size: .875em;
	overflow: hidden;
	line-height: 1.43;
	.is-scroll & {
		display: none;
	}
	@include min-screen($tablet) {
		& {
			display: none;
		}
	}
	&-language {
		float: left;
		list-style: none;
		a {
			color: inherit;
		}
		li {
			display: inline-block;
			color: rgba($white, 0.6);
			&.active {
				color: $white;
			}
		}
		li + li {
			margin-left: 14px;
		}
	}
	&-support {
		float: right;
		font-weight: 500;
		color: $white;
	}
}
.header_new {
	&-rss_button,
	&-login_button {
		color: $white;
		fill: $white;
		transition: all .3s ease;
		box-sizing: border-box;
		text-align: center;
		cursor: pointer;
		&:hover {
			color: $pink;
		}
	}

	&-rss_button {
		display: none;
		width: 1.3em;
		img,
		svg {
			width: inherit;
		}
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}
	&-login_button {
		width: 2em;
		min-width: 2em;
		height: 2em;
		padding-top: .5em;
		font-size: 1em;
		margin-left: 1.25em;
		svg {
			width: 1em;
		}
	}
}
.header_new-search {
	display: none;
	align-items: center;
	justify-content: flex-end;
	float: right;
	min-height: 1.125em;
	padding: .5em .8em .5em 1em;
	border-radius: 1em;
	background-color: $main-violet;
	transition: all .3s ease;
	width: 160px;
	&.is_focused {
		background-color: $white;
		width: 100%;
	}
	&-input {
		background-color: transparent;
		border: none;
		outline: none;
		font-size: .8em;
		color: rgba(153, 153, 153, 0.6);
		margin-right: .5em;
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: calc(100% - 1.625em);
	}
	@include min-screen($tablet) {
		display: flex;
	}
	&-button {
		min-width: 1.125em;
		width: 1.125em;
		height: 1.125em;
		font-size: 1em;
		padding: 0;
		color: $white;
		cursor: pointer;
		background: none;
		transition: inherit;
		border: none;
		display: inline-block;
		.is_focused & {
			color: rgba(153, 153, 153, 0.6);
		}
		&.is_open_modal {
			padding-top: 0.3em;
			@include min-screen($tablet) {
				display: none;
			}
		}
	}
	&-wrap {
		margin-left: 1em;
		margin-left: auto;
		@include min-screen($tablet) {
			min-width: 250px;
		}
	}
}


$grid-base: .25em;
$grid-space: ($grid-base / 4) !default;
.header_new-menu_button {
	font-size: 1.5em;
	margin-right: 1.5em;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	width: 1em;
	height: 1em;
	background: none;
	position: relative;
	vertical-align: middle;
	transition: all .3s ease;
	color: currentColor;
	&:hover {
		color: $pink;
	}
	&.active { 
		border-color: currentColor;
	}
	&::after {
		content: '';
		position: absolute;
		background-color: currentColor;
		transition: inherit;
		opacity: 0;
		left: $grid-base*.7;
		top: 50%;
		width: $grid-base;
		margin-top: -$grid-base/2;
		height: $grid-base;
	}
	&.active::after {
		width: calc(100% - #{$grid-base*1.5});
		font-size: .8em;
		opacity: 1;
	}
	&::before {
		transition: inherit;
		border-radius: 50%;
		content: '';
		position: absolute;
		background-color: currentColor;
		color: currentColor;
		width: $grid-base;
		height: $grid-base;
		top: calc(50% - #{$grid-base} / 2);
		left: calc(50% - #{$grid-base} / 2);
		box-shadow: 
			0 -($grid-base + $grid-space) 0 -($grid-base + $grid-space),
			0 0 -($grid-base + $grid-space),
			($grid-base + $grid-space) 0 -($grid-base + $grid-space),
			0 -($grid-base + $grid-space) 0,
			($grid-base + $grid-space) 0,
			0 -($grid-base + $grid-space) ($grid-base + $grid-space),
			0 ($grid-base + $grid-space),
			($grid-base + $grid-space) ($grid-base + $grid-space);
	}
	&.active::before {
		border-radius: 0;
		background-color: transparent;
		transform: rotate3d(0, 0, 1, -45deg) scale3d(.8, .8, .8);
		box-shadow: 
			0 -($grid-base + $grid-space) 0 -($grid-base + $grid-space),
			-($grid-space * 1.1) 0 -($grid-base + $grid-space),
			($grid-base - $grid-space * 1.2) 0 -($grid-base + $grid-space),
			0 -($grid-base + $grid-space) 0 -($grid-space * 1.1),
			0 0 transparent,
			0 -($grid-base + $grid-space) ($grid-base - $grid-space * 1.2),
			0 0 transparent,
			0 0 transparent;
	}
}


.header_new-top {
	padding: 1em;
	background-color: $main-violet;
	&-content {
		// max-width: $header-width;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		// justify-content: center;
		&-left,
		&-right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	@include min-screen($tablet) {
		& {
			background-color: $dark-violet;
			padding: 1em 1.5em;
		}
	}

	&-logo {
		display: inline-block;
		@include min-screen($tablet) {
			& {
				display: none;
			}
		}
		img {
			max-height: 34px;
		}
	}
}

.header_new-top {
	&-main_menu,
	&-sub_menu {
		display: none;
		position: relative;
		min-height: 2em;
		line-height: 2em;
		border-left: 1px solid rgba($white, .15);
		padding-left: 1.5em;
		margin-left: 1.5em;
		transition: all .3s ease;

		@include min-screen($tablet) {
			& {
				display: block;
			}
		}

		&-item {
			color: rgba($white, .6);
			display: inline-block;
			&.active,
			&:hover {
				color: $white;
			}
			& + & {
				padding-left: .8em;
			}
		}
		&-list {
			white-space: nowrap;
		}
		&-link {
			font-size: .8em;

		}
	}
	&-sub_menu {
		&-dropdown {
			display: none;
			position: absolute;
			white-space: normal;
			padding: 1.5em;
			z-index: 7;
			top: 100%;
			left: 100%;
			min-width: 10em;
			max-width: 12em;
			margin-left: -1.9em;
			border-radius: .25em;
			background-color: $white;
			box-shadow: 0 0 49px 0 rgba($black, 0.15);
		}
		&-item {
			position: relative;
			&-title {
				cursor: pointer;
				font-size: .8em;
				position: relative;
				padding-right: 1.2em;
				&.is_open {
					color: $white;
				}
				&::before {
					@include arr(8, 6, $white, b)
					content: '';
					position: absolute;
					right: .125em;
					top: 50%;
					margin-top: -3px;
				}
			}
		}
		&-link {
			display: block;
			line-height: 1.6;
			color: $black;
			opacity: .6;
			& + & {
				margin-top: .4em;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	&-main_menu {
		padding-left: 2em;
		flex: 1;
		max-width: calc(100% - 41em);
		&-list {
			display: flex;
			justify-content: space-between;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 1.3em;
		}
		&-dropdown {
			display: none;
			z-index: 7;
			position: absolute;
			top: 50%;
			left: 100%;
			margin-top: 1em;
			margin-left: -3em;
			padding: 1.5em;
			background-color: $dark-violet;
			border-radius: 0 0 .5em .5em;
		}
		&-dropdown &-item {
			padding: 0;
			// font-size: .8em;
			white-space: nowrap;
			display: block;
			line-height: 1.4em;
		}
		&-dropdown_button {
			float: right;
			display: none;
			margin-left: .8em;
			width: 1.5em;
			min-width: 1.5em;
			height: 2em;
			display: inline-block;
			position: relative;
			overflow: hidden;
			text-indent: 9999px;
			transition: inherit;
			cursor: pointer;
			opacity: .6;
			&:hover,
			&.active {
				opacity: 1;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				color: $white;
				background-color: currentColor;
				width: .25em;
				height: .25em;
				box-shadow: -.5em 0, .5em 0;
			}
		}
		&-link {
			color: inherit;
			cursor: pointer;
			transition: inherit;
			display: inline-block;
			
		}
	}
}