<div class="header_new-topline">
	<ul class="header_new-topline-language">
		<li class="active">
			<a href="#">укр</a>
		</li>
		<li>
			<a href="#">рус</a>
		</li>
		<li>
			<a href="#">eng</a>
		</li>
	</ul>
	<a href="#" class="header_new-topline-support">
		Поддержать проект
	</a>
</div>
<div class="header_new-top">
	<div class="header_new-top-content">
		<div class="header_new-top-content-left">
			<div class="header_new-menu_button">
				<span class="header_new-menu_button-grid">
					{% include "img/menu.svg" %}
				</span>
				<span class="header_new-menu_button-close">
					{% include "img/close.svg" %}
				</span>
				<span class="header_new-menu_button-arrow">
					{% include "img/arrow_back.svg" %}
				</span>
			</div>
			<a href="#" class="header_new-rss_button">
				{% include "img/rss-solid.svg" %}
			</a>
		</div>

		<a href="#" class="header_new-top-logo">
			<img src="./img/logo.svg" alt="mind.ua">
		</a>

		<div class="header_new-top-main_menu">
			<div class="header_new-top-main_menu-dropdown_button">...</div>
			<ul class="header_new-top-main_menu-list">
				<li class="header_new-top-main_menu-item active">
					<a href="#" class="header_new-top-main_menu-link">Главная</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Материалы</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Новости</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Публикации</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Openpind</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Видео</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Архив</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Курсы валют</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Вопросы и ответы</a>
				</li>
				<li class="header_new-top-main_menu-item">
					<a href="#" class="header_new-top-main_menu-link">Советы и подсказки</a>
				</li>
			</ul>
			<ul class="header_new-top-main_menu-dropdown"></ul>
		</div>
		<div class="header_new-top-sub_menu">
			<ul class="header_new-top-sub_menu-list">
				<li class="header_new-top-sub_menu-item">
					<div class="header_new-top-sub_menu-item-title">Проекты</div>
					<div class="header_new-top-sub_menu-dropdown">
						<a href="#" class="header_new-top-sub_menu-link">Рейтинг банков</a>
						<a href="#" class="header_new-top-sub_menu-link">Рейтинг Книг</a>
						<a href="#" class="header_new-top-sub_menu-link">Реформы в Украине</a>
						<a href="#" class="header_new-top-sub_menu-link">Леополис Джаз Фест</a>
						<a href="#" class="header_new-top-sub_menu-link">Украина инвестпривлекательная.</a>
						<a href="#" class="header_new-top-sub_menu-link">Фармацевтика</a>
					</div>
				</li>
				<li class="header_new-top-sub_menu-item">
					<div class="header_new-top-sub_menu-item-title">Mindbrand</div>
					<div class="header_new-top-sub_menu-dropdown">
						<a href="#" class="header_new-top-sub_menu-link">ICF Юридические услуги</a>
						<a href="#" class="header_new-top-sub_menu-link">ICF Юридические услуги</a>
						<a href="#" class="header_new-top-sub_menu-link">ICF Юридические услуги</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="header_new-top-content-right">
			<div class="header_new-search-wrap">
				<form class="header_new-search" action="https://mind.ua/search" method="GET" accept-charset="utf-8">
					<input type="text" class="header_new-search-input" placeholder="Пошук">
					<button type="submit" class="header_new-search-button">
						{% include "img/search-solid.svg" %}
					</button>
				</form>
			</div>
			<div class="header_new-login_button">
				{% include "img/user-solid.svg" %}
			</div>
		</div>
	</div>
</div>