.header_new-open {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 94px;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: $main-violet;
	transition: all .3s ease;
	padding: 0 .8em;
	overflow: auto;
	transition: all .3s ease;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-2em);
	z-index: 11;
	.is-menu-show &{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	@include min-screen($tablet) {
		& {
			padding: 1.4em 1.5em;
			top: 0 !important;
		}
	}
	&-list {
		list-style: none;
		color: $white;
		font-size: 1em;
		box-sizing: border-box;
		display: block;
		overflow: hidden;
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 1.8em;
	}
	&-item {
		flex: 1;
		margin-bottom: 0.7em;
		line-height: 1.6em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		img,
		svg {
			max-width: 1.5em;
			max-height: 1.5em;
			vertical-align: middle;
			margin-right: .5em;
		}
		&.is_big_item {
			margin-bottom: 1em;
			padding-bottom: 1em;
			border-bottom: 1px solid rgba($white, .2);
		}
		&-image {
			float: left;
			margin-right: 0.4em;
			img,
			svg {
				max-height: 3em;
				max-width: 3.1em;
				width: 3.1em;
			}
		}
		&-text-top,
		&-text-bot {
			display: block;
		}
		&-text-top {
			font-size: 1.2em;
		}
		&-text-bot {
			font-size: .8em;
			color: rgba($white, .5);
		}
		.is_two_colums & {
			width: 50%;
			max-width: 50%;
			float: left;
			padding-right: 1em;
		}
	}
	&-link {
		color: inherit;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
		font-size: 1em;
	}
	&-topline &-item {
		min-width: 50%;
		padding-right: .5em;
		@include min-screen($tablet) {
			& {
				min-width: auto;
			}
		}
	}
	&-button_close {
		display: none;
		@include min-screen($tablet) {
			& {
				display: inline-block;
				img,
				svg {
					max-width: 2em;
				}
			}
		}
	}
	&-topline {
		@include min-screen($tablet) {
			& {
				align-items: flex-start;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
	&-topline &-list {
		display: flex;
		@include min-screen($tablet) {
			& {
				flex-direction: row;
				padding: 0 1em;
				white-space: nowrap;
			}
		}
	}
	&-topline &-item {
		@include min-screen($tablet) {
			& {
					padding: 0 0.8em;
					flex: none;
					margin-bottom: .5em;
			}
		}
	}
	&-bot &-list {
		padding-top: 1em;
		@include min-screen($tablet) {
			& {
				display: block !important;
			}
		}
	}
	&-bot {
		@include min-screen($tablet) {
			& {
					display: flex;
					flex-direction: row;
			}
		}
	}
	&-section {
		&_header {
			padding: 1em 0 1.1em;
			border-top: 3px solid $white;
			border-bottom: 1px solid rgba($white, .2);
			position: relative;
			font-weight: 700;
			color: rgba($white, 0.3);
			font-size: .85em;
			&::before {
				@include arr(8, 6, $white, b);
				content: '';
				position: absolute;
				right: 0.5em;
				top: 50%;
				margin-top: -3px;
				transition: all .4s linear;
			}
			&.is_open::before{
				transform: rotateX(180deg);
			}
		}
	}
	&-bot &-section {
		@include min-screen($tablet) {
			& {
					flex-basis: 22.8%;
					max-width: 22.8%;
			}
			&.is_wide_section {
				flex-basis: 48.5%;
				max-width: 48.5%;
			}
			&_header {
				&::before {
					display: none;
				}
			}
		}
	}
	&-bot &-section + &-section {
		@include min-screen($tablet) {
			& {
					margin-left: 2.25em;
			}
		}
	}
	&-bot &-section &-list{
		@include min-screen($tablet) {
			& {
				height: calc(100% - 6em);
				padding-top: 0;
				padding-bottom: .5em;
				margin-top: 1.8em;
				border-right: 1px solid rgba($white, .2);
			}
		}
	}
	&-bot &-section:last-child &-list {
		@include min-screen($tablet) {
			& {
				border-right: none;
			}
		}
	}
	&-bot &-section &-item {
		@include min-screen($tablet) {
			margin-bottom: 1.45em;
		}
	}
	&-bot &-link {
		@include min-screen($tablet) {
			white-space: normal;
		}
	}
	.header_new-social {
		padding: 2em 0 3.1em 0;
		text-align: center;
		@include min-screen($tablet) {
			& {
				padding: 0;
				text-align: right;
			}
		}

	}

	&-middle {
		order: -1;
		align-items: center;
		text-align: center;
		padding: .8em 0 1.9em;
		@include min-screen($tablet) {
			& {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				order: 0;
				padding: 0.8em 0 2.85em;
			}
		}
	}
	&-logo {
		margin-right: 2em;
		max-width: 6.5em;
		display: none;
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}
	&-support {
		display: none;
		transition: all .3s ease;
		color: $white;
		font-size: .9em;
		cursor: pointer;
		padding: 1.1em;
		border-radius: 1.8em;
		margin-left: .5em;
		background-color: $pink;
		white-space: nowrap;
		&:hover {
			background-color: $white;
			color: $pink;;
		}
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}

	&-search {
		align-items: center;
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		min-width: 18em;
		width: 50%;
		height: 3em;
		padding: .5em 1.5em;
		border-radius: 1.5em;
		background-color: $main-violet;
		transition: all .3s ease;
		background-color: $white;
		@include min-screen($tablet) {
			& {
				min-width: 38em;
			}
		}
		&-input {
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1em;
			color: rgba($nobel, 0.6);
			margin-right: .5em;
			flex: 1;
			height: 2em;
			overflow: hidden;
			text-overflow: ellipsis;
			width: calc(100% - 3em);
		}
		&-button {
			min-width: 1.125em;
			width: 1.125em;
			height: 2em;
			font-size: 1em;
			padding: 0;
			color: #ccc;
			cursor: pointer;
			background: none;
			transition: inherit;
			border: none;
		}
	}
}