.header_new-open {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 113px;
	bottom: 0;
	// display: none;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: $main-violet;
	transition: all .3s ease;
	padding: 1.5em .8em;
	overflow: auto;
	transition: all .3s ease;
	// visibility: hidden;
	// opacity: 0;
	// transform: translateY(-2em);
	.is-menu-show &{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	@include min-screen($tablet) {
		& {
			padding: 1.5em;
			top: 0 !important;
		}
	}
	&-list {
		list-style: none;
		color: $white;
		font-size: 1em;
		box-sizing: border-box;
		display: block;
		overflow: hidden;
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 2em;
	}
	&-item {
		flex: 1;
		margin-bottom: 0.85em;
		line-height: 1.6em;
		img,
		svg {
			max-width: 1.5em;
			max-height: 1.5em;
			vertical-align: middle;
			margin-right: .5em;
		}
		&.is_big_item {
			margin-bottom: 1.5em;
			// padding-top: .21m;
			padding-bottom: 1em;
			border-bottom: 1px solid rgba($white, .2);
		}
		&-image {
			float: left;
			margin-right: 0.7em;
			img,
			svg {
				max-height: 3em;
				max-width: 3.1em;
				width: 3.1em;
			}
		}
		&-text-top,
		&-text-bot {
			display: block;
		}
		&-text-top {
			font-size: 1.2em;
		}
		&-text-bot {
			font-size: .8em;
			color: rgba($white, .5);
		}
		.is_two_colums & {
			width: 50%;
			max-width: 50%;
			float: left;
			padding-right: 1em;
		}
	}
	&-link {
		color: inherit;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		text-overflow: ellipsis;
	}
	&-topline &-item {
		min-width: 50%;
		padding-right: .5em;
	}
	&-topline &-list {
		display: flex;
	}
	&-bot &-list {
		padding-top: 1.5em;
		// display: none;
	}
	&-section {
		&_header {
			padding: 1em 0 1.1em;
			border-top: 3px solid $white;
			border-bottom: 1px solid rgba($white, .2);
			position: relative;
			font-weight: 700;
			color: rgba($white, 0.3);
			font-size: .9em;
			&::before {
				@include arr(8, 6, $white, b);
				content: '';
				position: absolute;
				right: .5em;
				top: 50%;
				margin-top: -3px;
				transition: all .4s linear;
			}
			&.is_open::before{
				transform: rotateX(180deg);
			}
		}
	}
	.header_new-social {
		padding: 3em 0;
		text-align: center;
	}
	&-middle {
		order: -1;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1.5em 0 2em;
		@include min-screen($tablet) {
			& {
				justify-content: space-between;
				order: 0;
			}
		}
	}
	&-logo {
		margin-right: 2em;
		max-width: 6.5em;
		display: none;
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}
	&-support {
		display: none;
		transition: all .3s ease;
		color: $white;
		font-size: .9em;
		cursor: pointer;
		padding: 1.3em;
		border-radius: 1.8em;
		margin-left: 2em;
		background-color: $pink;
		white-space: nowrap;
		&:hover {
			background-color: $white;
			color: $pink;;
		}
		@include min-screen($tablet) {
			& {
				display: inline-block;
			}
		}
	}

	&-search {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-width: 21em;
		height: 3em;
		padding: .5em 1em;
		border-radius: 1.5em;
		background-color: $main-violet;
		transition: all .3s ease;
		background-color: $white;
		@include min-screen($tablet) {
			& {
				min-width: 37.5em;
			}
		}
		&-input {
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1em;
			color: rgba($nobel, 0.6);
			margin-right: .5em;
			flex: 1;
			height: 2em;
			overflow: hidden;
			text-overflow: ellipsis;
			width: calc(100% - 3em);
		}
		&-button {
			min-width: 1.125em;
			width: 1.125em;
			// height: 1.125em;
			height: 2em;
			font-size: 1em;
			padding: 0;
			color: #ccc;
			cursor: pointer;
			background: none;
			transition: inherit;
			border: none;
		}
	}
}