<div class="header_new-open">
	<div class="header_new-open-topline">
		<div class="header_new-open-button_close">
			{% include "img/arrow_back.svg" %}
		</div>
		<ul class="header_new-open-list">
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Материалы
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Архив
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Новости
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Курсы валют
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Публикации
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Вопросы и ответы
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Openpind
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Советы и подсказки
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Видео
				</a>
			</li>
			<li class="header_new-open-item">
				<a class="header_new-open-link" href="#">
					Обратная связь
				</a>
			</li>
		</ul>
		<div class="header_new-open-button_close">
			{% include "img/close.svg" %}
		</div>
	</div>
	<div class="header_new-open-middle">
		<a href="#" class="header_new-open-logo">
			<img src="./img/logo.svg" alt="mind.ua">
		</a>
		<form class="header_new-open-search" action="https://mind.ua/search" method="GET" accept-charset="utf-8">
			<input type="text" class="header_new-open-search-input" placeholder="Пошук">
			<button type="submit" class="header_new-open-search-button">
				{% include "img/search-solid.svg" %}
			</button>
		</form>
		<a href="#" class="header_new-open-support">Поддержать проект</a>
	</div>
	<div class="header_new-open-bot">
		<div class="header_new-open-section is_wide_section">
			<h2 class="header_new-open-section_header">
				Рубрики
			</h2>
			<ul class="header_new-open-list is_two_colums">
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Экономика
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Инвестиции
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Финансы
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Недвижимость
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Банки
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Авто
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Страхование
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Ритейл
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Персональные финансы
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Образование
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Политика
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Общество
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Промышленность
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Предпринимательство
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Инфраструктура
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Технологии
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
							<img src="./img/logoenergy.svg" alt="Энергетика">
						Энергетика
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Агро
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Государство
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Образ жизни
					</a>
				</li>
			</ul>
		</div>
		<div class="header_new-open-section">
			<h2 class="header_new-open-section_header">
				Проекты
			</h2>
			<ul class="header_new-open-list">
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Рейтинг банков
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Рейтинг Книг
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Реформы в Украине
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Леополис Джаз Фест
					</a>
				</li>
				<li class="header_new-open-item">
					<a class="header_new-open-link" href="#">
						Украина инвестпривлекательная. Фармацевтика
					</a>
				</li>
			</ul>

		</div>
		<div class="header_new-open-section">
			<h2 class="header_new-open-section_header">
				Mind Brand
			</h2>
			<ul class="header_new-open-list">
				<li class="header_new-open-item is_big_item">
					<a class="header_new-open-link" href="#">
						<span class="header_new-open-item-image">
							<img src="./img/94_white.png" alt="">
						</span>
						<span class="header_new-open-item-text">
							<span class="header_new-open-item-text-top">ICF</span>
							<span class="header_new-open-item-text-bot">Юридические услуги</span>
						</span>
					</a>
				</li>
				<li class="header_new-open-item is_big_item">
					<a class="header_new-open-link" href="#">
						<span class="header_new-open-item-image">
							<img src="./img/94_white.png" alt="">
						</span>
						<span class="header_new-open-item-text">
							<span class="header_new-open-item-text-top">Integrites</span>
							<span class="header_new-open-item-text-bot">Юридические услуги</span>
						</span>
					</a>
				</li>
				<li class="header_new-open-item is_big_item">
					<a class="header_new-open-link" href="#">
						<span class="header_new-open-item-image">
							<img src="./img/94_white.png" alt="">
						</span>
						<span class="header_new-open-item-text">
							<span class="header_new-open-item-text-top">Дарниця</span>
							<span class="header_new-open-item-text-bot">Юридические услуги</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<ul class="header_new-social">
		<li class="header_new-social-item">
			<a href="" class="header_new-social-link is_facebook" title="Facebook">
				{% include "img/facebook-brands.svg" %}
			</a>
		</li>
		<li class="header_new-social-item">
			<a href="#" class="header_new-social-link is_twitter" title="Twitter">
				{% include "img/twitter-brands.svg" %}
			</a>
		</li>
		<li class="header_new-social-item">
			<a href="#" class="header_new-social-link is_telegram" title="Telegram">
				{% include "img/telegram-plane-brands.svg" %}
			</a>
		</li>
		<li class="header_new-social-item">
			<a href="#" class="header_new-social-link is_youtube" title="YouTube">
				{% include "img/youtube-brands.svg" %}
			</a>
		</li>
	</ul>
</div>