.footer_new {
	background: #eeecf3;
	&-content {
		max-width: 1320px;
		min-width: 320px;
		padding: 0 20px;
	}
	&-top {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #dedede;
		padding: .75em 0;
		justify-content: space-between;
		align-items: center;
	}
	&-logo {
		img {
			max-height: 1.5em;
			max-width: 3.25em;
		}
	}
}