<div class="footer_new">
	<div class="footer_new-content">
		<div class="footer_new-top">
			<a href="#" class="footer_new-logo">
				<img src="./img/logo-gray.svg" alt="mind.ua">
			</a>
			<ul class="footer_new-bredcrums">
				<li class="footer_new-bredcrums-item">
					<a href="#" class="footer_new-bredcrums-link">Главная</a>
				</li>
				<li class="footer_new-bredcrums-item">
					<a href="#" class="footer_new-bredcrums-link">Публикации</a>
				</li>
				<li class="footer_new-bredcrums-item">
					Скачивай украинское: топ-5 приложений, стартовавших в 2018 году
				</li>
			</ul>
			<ul class="footer_new-language">
				<li>
					укр
				</li>
				<li>
					<a href="#">рус</a>
				</li>
				<li>
					<a href="#">eng</a>
				</li>
			</ul>
		</div>

		<div class="footer_new-middle">
			<div class="footer_new-middle-top">
				<ul class="footer_new-social">
					<li class="footer_new-social-item">
						<a href="" class="footer_new-social-link is_facebook" title="Facebook">
							{% include "img/facebook-brands.svg" %}
						</a>
					</li>
					<li class="footer_new-social-item">
						<a href="#" class="footer_new-social-link is_twitter" title="Twitter">
							{% include "img/twitter-brands.svg" %}
						</a>
					</li>
					<li class="footer_new-social-item">
						<a href="#" class="footer_new-social-link is_telegram" title="Telegram">
							{% include "img/telegram-plane-brands.svg" %}
						</a>
					</li>
					<li class="footer_new-social-item">
						<a href="#" class="footer_new-social-link is_youtube" title="YouTube">
							{% include "img/youtube-brands.svg" %}
						</a>
					</li>
				</ul>
				<form class="footer_new-search" action="https://mind.ua/search" method="GET" accept-charset="utf-8">
					<input type="text" class="footer_new-search-input" placeholder="Пошук">
					<button type="submit" class="footer_new-search-button">
						{% include "img/search-solid.svg" %}
					</button>
				</form>
				<a href="#" class="footer_new-support">Поддержать проект</a>
			</div>
			<div class="footer_new-middle-bot">
				<div class="footer_new-section">
					<h2 class="footer_new-section_header">
						Основное
					</h2>
					<ul class="footer_new-list is_two_colums-mobile">
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Материалы
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Архив
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Новости
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Курсы валют
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Публикации
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Вопросы и ответы
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Openpind
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Советы и подсказки
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Видео
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Обратная связь
							</a>
						</li>
					</ul>
				</div>

				<div class="footer_new-section is_wide_section">
					<h2 class="footer_new-section_header">
						Рубрики
					</h2>
					<ul class="footer_new-list is_two_colums">
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Экономика
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Инвестиции
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Финансы
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Недвижимость
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Банки
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Авто
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Страхование
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Ритейл
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Персональные финансы
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Образование
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Политика
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Общество
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Промышленность
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Предпринимательство
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Инфраструктура
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Технологии
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
									<img src="./img/logoenergy.svg" alt="Энергетика">
								Энергетика
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Агро
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Государство
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Образ жизни
							</a>
						</li>
					</ul>
				</div>

				<div class="footer_new-section">
					<h2 class="footer_new-section_header">
						Проекты
					</h2>
					<ul class="footer_new-list">
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Рейтинг банков
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Рейтинг Книг
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Реформы в Украине
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Леополис Джаз Фест
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Украина инвестпривлекательная. Фармацевтика
							</a>
						</li>
					</ul>
					<h2 class="footer_new-section_header">
						Mind Brand
					</h2>
					<ul class="footer_new-list">
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Ice Legal. Brand
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Intergrites. Brand
							</a>
						</li>
						<li class="footer_new-list-item">
							<a class="footer_new-list-link" href="#">
								Фармкомпания “Дарница”. Brand
							</a>
						</li>
					</ul>
				</div>
			
			</div>
		</div>

		<div class="footer_new-bot">
			<ul class="footer_new-copy">
				<li class="footer_new-copy-item">
					<a href="#" class="footer_new-copy-link">Сopyright © 2018 mind.ua </a>
				</li>
				<li class="footer_new-copy-item">
					<a href="#" class="footer_new-copy-link">«Фьючер медiа»</a>
				</li>
			</ul>
			<div class="footer_new-counters">
				Счетчики сюда
			</div>
			<ul class="footer_new-bot-menu">
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Использоваиен материалов
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Политика конфиденциальности
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Политика использования файлов cookie
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Карта сайта
					</a>
				</li>
			</ul>
			<div class="footer_new-arrow_up">
				{% include "img/arrow_up.svg" %}

			</div>
		</div>
	</div>
</div>