<div class="footer_new">
	<div class="footer_new-content">
		<div class="footer_new-top">
			<a href="#" class="footer_new-logo">
				<img src="./img/logo-gray.svg" alt="mind.ua">
			</a>
			<ul class="footer_new-bredcrums">
				<li class="footer_new-bredcrums-item">
					<a href="#" class="footer_new-bredcrums-linl">Главная</a>
				</li>
				<li class="footer_new-bredcrums-item">
					<a href="#" class="footer_new-bredcrums-linl">Публикации</a>
				</li>
				<li class="footer_new-bredcrums-item">
					Скачивай украинское: топ-5 приложений, стартовавших в 2018 году
				</li>
			</ul>
			<ul class="footer_new-language">
				<li class="active">
					<a href="#">укр</a>
				</li>
				<li>
					<a href="#">рус</a>
				</li>
				<li>
					<a href="#">eng</a>
				</li>
			</ul>
		</div>

		<div class="footer_new-middle">
			<div class="footer_new-middle-top">
				<ul class="header_new-social">
					<li class="header_new-social-item">
						<a href="" class="header_new-social-link is_facebook" title="Facebook">
							{% include "img/facebook-brands.svg" %}
						</a>
					</li>
					<li class="header_new-social-item">
						<a href="#" class="header_new-social-link is_twitter" title="Twitter">
							{% include "img/twitter-brands.svg" %}
						</a>
					</li>
					<li class="header_new-social-item">
						<a href="#" class="header_new-social-link is_telegram" title="Telegram">
							{% include "img/telegram-plane-brands.svg" %}
						</a>
					</li>
					<li class="header_new-social-item">
						<a href="#" class="header_new-social-link is_youtube" title="YouTube">
							{% include "img/youtube-brands.svg" %}
						</a>
					</li>
				</ul>
				<form class="header_new-open-search" action="https://mind.ua/search" method="GET" accept-charset="utf-8">
					<input type="text" class="header_new-open-search-input" placeholder="Пошук">
					<button type="submit" class="header_new-open-search-button">
						{% include "img/search-solid.svg" %}
					</button>
				</form>
				<a href="#" class="header_new-open-support">Поддержать проект</a>
			</div>
			<div class="footer_new-middle-bot">
				
			</div>
		</div>

		<div class="footer_new-bot">
			<ul class="footer_new-copy">
				<li class="footer_new-copy-item">
					<a href="#" class="footer_new-copy-link">Сopyright © 2018 mind.ua </a>
				</li>
				<li class="footer_new-copy-item">
					<a href="#" class="footer_new-copy-link">«Фьючер медiа»</a>
				</li>
			</ul>
			<ul class="footer_new-bot-menu">
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Использоваиен материалов
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Политика конфиденциальности
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Политика использования файлов cookie
					</a>
				</li>
				<li class="footer_new-bot-menu-item">
					<a class="footer_new-bot-menu-link" href="#">
						Карта сайта
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>