---
title: Header
---

{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}

<div class="block_list__inner" style="padding: 3em">
    <article class="article article_list">
        <div class="article__img">
            <a href="https://mind.ua/style/20198266-majte-na-uvazi-golovni-podiyi-916-chervnya">
                <div class="article__counter">748</div>
                <img class=" lazyloaded" src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                    data-src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                    alt="Майте на увазі: головні події 9–16 червня" title="Майте на увазі: головні події 9–16 червня"
                    width="300" height="199">
                <noscript><img src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                        alt="Майте на увазі: головні події 9–16 червня" title="Майте на увазі: головні події 9–16 червня"
                        width="300" height="199" /></noscript>
            </a>
        </div>
        <div class="article__content">
    
            <div class="article__title"><a
                    href="https://mind.ua/style/20198266-majte-na-uvazi-golovni-podiyi-916-chervnya">Майте на увазі: головні
                    події 9–16 червня
                    {% include "elements/subscribe_article_item/index.html" %}
                </a></div>
            <div class="article__subtitle">Театральна прем’єра «Зойчина квартира», Фольк Фешн від «Всі. Свої» та інші події
                найближчого часу, на які варто звернути увагу</div>
            <div class="article__time">Ольга Усачова - 8 червня 2019</div>
        </div>
    </article>
    <article class="article article_list">
        <div class="article__img">
            <a href="https://mind.ua/style/20198266-majte-na-uvazi-golovni-podiyi-916-chervnya">
                <div class="article__counter">748</div>
                <img class=" lazyloaded" src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                    data-src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                    alt="Майте на увазі: головні події 9–16 червня" title="Майте на увазі: головні події 9–16 червня"
                    width="300" height="199">
                <noscript><img src="https://s.mind.ua/img/forall/a/201982/66_middle.jpg?1559977868"
                        alt="Майте на увазі: головні події 9–16 червня" title="Майте на увазі: головні події 9–16 червня"
                        width="300" height="199" /></noscript>
            </a>
        </div>
        <div class="article__content">
    
            <div class="article__title"><a
                    href="https://mind.ua/style/20198266-majte-na-uvazi-golovni-podiyi-916-chervnya">Майте на увазі: головні
                    події 9–16 червня</a></div>
            <div class="article__subtitle">Театральна прем’єра «Зойчина квартира», Фольк Фешн від «Всі. Свої» та інші події
                найближчого часу, на які варто звернути увагу</div>
            <div class="article__time">Ольга Усачова - 8 червня 2019</div>
        </div>
    </article>
</div>


{% endblock %}