---
title: Header
---

{% extends "nunjucks-templates/layouts/_layout.html" %}

{% block content %}
    <div class="post__text" style="max-width: 720px; margin: 0 auto ">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae itaque officiis atque voluptate similique sint ex
            at. Qui deleniti vitae doloremque. Possimus quos, voluptatibus rem quisquam magni omnis ut quaerat?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae itaque officiis atque voluptate similique sint ex
            at. Qui deleniti vitae doloremque. Possimus quos, voluptatibus rem quisquam magni omnis ut quaerat?
        </p>
        {% include "elements/subscribe_content/index.html" %}
    </div>
 

{% endblock %}