<div class="header_new_sticky">

	<div class="header_new_sticky-left">
		<div class="header_new-menu_button">
			<span class="header_new-menu_button-grid">
				{% include "img/menu.svg" %}
			</span>
			<span class="header_new-menu_button-arrow">
				{% include "img/arrow_back.svg" %}
			</span>
		</div>
		<a href="#" class="header_new_sticky-logo">
			<img src="./img/logo.svg" alt="mind.ua">
		</a>
	</div>

	<div class="header_new_sticky-middle">
		<ul class="header_new_sticky-menu is_no_js_dot_menu">
			<li class="header_new_sticky-menu-item active">
				<a href="#" class="header_new_sticky-menu-link">Бизнес</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">
					<img class="header_new_sticky-menu-image" src="./img/logoenergy.svg" alt="Энергетика">
					Энергетика
				</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">
					Страхование
				</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Банки</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Образование</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Недвижимость</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Финансы</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Технологии</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Бизнес</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Энергетика</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Страхование</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Банки</a>
			</li>
			<li class="header_new_sticky-menu-item">
				<a href="#" class="header_new_sticky-menu-link">Образование</a>
			</li>
			<li class="header_new_sticky-menu-item is_dropdawn_wrap">
				<div class="header_new_sticky-menu-dropdown_button"></div>
				<ul class="header_new_sticky-menu-dropdown">
					
				</ul>
			</li>
		</ul>
	</div>

	<div class="header_new_sticky-right">
		<div class="header_new-search-wrap">
			<form class="header_new-search" action="https://mind.ua/search" method="GET" accept-charset="utf-8">
				<input type="text" class="header_new-search-input" placeholder="Пошук">
				<button type="submit" class="header_new-search-button">
					{% include "img/search-solid.svg" %}
				</button>
			</form>
		</div>
		<div class="header_new-login_button">
			<img class="header_new-login_button-image" src="./img/login.jpg" alt="login">
		</div>
	</div>
</div>
