<div class="header_new_sticky">

	<div class="header_new_sticky-left">
		<div class="header_new-menu_button">
			<span class="header_new-menu_button-grid">
				{% include "img/menu.svg" %}
			</span>
			<span class="header_new-menu_button-arrow">
				{% include "img/arrow_back.svg" %}
			</span>
		</div>
		<a href="#" class="header_new_sticky-logo">
			<img src="./img/logo.svg" alt="mind.ua">
		</a>
	</div>

	<div class="header_new_sticky-middle">
		
	</div>
	<div class="header_new_sticky-right">
		
	</div>
</div>