<div style="padding: 1.5em; margin: 0 auto;">
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій 
            <span>Mind.ua!</span>   
        </p>
        <form method="POST" action="https://mind.ua/ajax/subscription" id="subscribe_form" class="subscribe-form" novalidate>
            <input 
                class="subscribe-email" 
                type="email" 
                name="subscribe-email" 
                placeholder="Ваш емейл">
            <button class="subscribe-submit">
                {% include "img/send.svg" %}
                <span class="subscribe-submit-text">
                    Підписатися
                </span>
            </button>
            <div class="subscribe-message">
                <div class="subscribe-message-text">
                    Вам надіслано листа для підтвердження
                </div>
                <div class="subscribe-message-close">
                    <div class="subscribe-message-close_icon">
                        {% include "img/close.svg" %}
                    </div>
                    <div class="subscribe-message-load_icon">
                        {% include "img/autorenew.svg" %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій
            <span>Mind.ua!</span>
        </p>
        <form method="POST" action="https://mind.ua/ajax/subscription" class="subscribe-form is_error"
            novalidate>
            <input 
                value="mailmail.com"
                class="subscribe-email" 
                type="email" name="subscribe-email" 
                placeholder="Ваш емейл">
             <button class="subscribe-submit">
                {% include "img/send.svg" %}
                <span class="subscribe-submit-text">
                    Підписатися
                </span>
            </button>
        </form>
    </div>
    <br>
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій
            <span>Mind.ua!</span>
        </p>
        <form method="POST" action="https://mind.ua/ajax/subscription" class="subscribe-form is_focus"
            novalidate>
            <input 
                value="mail@mail.com"
                class="subscribe-email" 
                type="email" 
                name="subscribe-email" 
                placeholder="Ваш емейл">
            <button class="subscribe-submit">
                {% include "img/send.svg" %}
                <span class="subscribe-submit-text">
                    Підписатися
                </span>
            </button>
        </form>
    </div>
    <br>
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій
            <span>Mind.ua!</span>
        </p>
        <form method="POST" action="https://mind.ua/ajax/subscription" class="subscribe-form"
            novalidate>
            <input class="subscribe-email" type="email" name="subscribe-email" placeholder="Ваш емейл">
            <button class="subscribe-submit">
                {% include "img/send.svg" %}
                <span class="subscribe-submit-text">
                    Підписатися
                </span>
            </button>
            <div class="subscribe-message visible_state">
                <div class="subscribe-message-text">
                    Вам надіслано листа для підтвердження
                </div>
                <div class="subscribe-message-close">
                    {% include "img/close.svg" %}
                </div>
            </div>
        </form>
    </div>


</div>
