<div style="padding: 1.5em; margin: 0 auto;">
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій 
            <a class="subscribe-title-highlite" href="#">Mind.ua!</a>   
        </p>
        <form action="#" id="subscribe_form" class="subscribe-form" novalidate>
            <input 
                class="subscribe-email" 
                type="email" 
                name="subscribe-email" 
                placeholder="Ваш емейл">
            <button class="subscribe-submit">
                {% include "img/send.svg" %}
            </button>
        </form>
    </div>
    <br>
    <div class="subscribe">
        <p class="subscribe-title">
            Підпишись на щотижневий дайджест матеріалів та анонси подій
            <a class="subscribe-title-highlite" href="#">Mind.ua!</a>
        </p>
        <form class="subscribe-form">
             <input 
                class="subscribe-email" 
                type="email" 
                name="subscribe-email" 
                placeholder="Ваш емейл">
            <button class="subscribe-submit">
                {% include "img/send.svg" %}
            </button>
        </form>
    </div>
</div>
